{% extends "base.html" %}
{% load static %}

{% block title %}使用者資訊{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/userinfos/userinfo.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/userinfos/userinfo.js' %}"></script>
{% endblock %}

{% block content %}
<section class="userinfo-section py-5">
    <div class="container">
        <form id="userinfo-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <!-- 頭像 -->
                <div class="col-md-3 d-flex flex-column align-items-center">
                    <div class="profile-img-wrapper">
                        <img id="profile-img"
                             src="{% if form.instance.profile_img %}{{ form.instance.profile_img.url }}{% else %}{% static 'img/default_user.jpg' %}{% endif %}"
                             alt="頭像">
                        <label class="profile-img-edit" id="profile-img-camera" title="更換頭像" for="id_profile_img">
                            <i class="bi bi-camera"></i>
                        </label>
                        <input type="file" name="profile_img" id="id_profile_img" accept="image/*" class="d-none">
                    </div>
                </div>
                <!-- 右側表單 -->
                <div class="col-md-9">
                    <div class="row">
                        <!-- Email -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{ email_form.email.label }}</label>
                            {{ email_form.email }}
                        </div>
                        <!-- 其餘欄位兩欄排版 -->
                        {% for field in form %}
                            {% if field.name != 'profile_img' %}
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <button type="button" id="edit-btn" class="btn btn-primary">編輯</button>
                        <button type="submit" id="save-btn" class="btn btn-success d-none">儲存</button>
                        <button type="button" id="cancel-btn" class="btn btn-secondary d-none">取消</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}