{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}">
<div id="chatbot">
    <div class="messages-box" id="messages-box">
        <div class="messages-list" id="messages-list">
            {% if chats %}
                {% for chat in chats %}
                    <div class="message-pair">
                        <!-- 使用者問題 -->
                        <p class="message-sent">
                            {{ chat.question|linebreaksbr }}
                        </p>
                        <!-- 回覆答案 -->
                        <p class="message-received" id="chat-answer">
                            {{ chat.answer|linebreaksbr }}
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                <p>目前尚無聊天記錄</p>
            {% endif %}
        </div>
    </div>

    <form class="message-form" id="chat-form" method="post" action="{% url 'Chat' %}">
        {% csrf_token %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <input type="text" id="message-input" name="question" class="message-input" placeholder="輸入你的問題...">
        <button type="submit" class="btn-send">送出</button>
    </form>
</div>
<img src="{% static 'images/chatbot_button.jpg' %}" alt="chatbot logo" style="width: 64px" id="sidebarIcon">
<script src="{% static 'js/chat_bot.js' %}"></script>