.contact-btn:hover {
    transform: scale(1.05); /* 懸停時放大 */
    background-color: #555; /* Contact Us 按鈕懸停的特定背景顏色 */
    color: #fff; /* 確保文字顏色可讀 */
}

.error-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px; 
    display: inline-block;
    max-width: 700px; 
    margin: auto;
}

.error-description {
    font-size: 1.5rem; 
    color: #6c757d; 
}

.btn-primary {
    border-radius: 50px;
    padding: 15px 40px; 
    font-size: 1.25rem; 
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}