{% extends "base.html" %} {% load static %}
{% block title %}遊戲區{% endblock %}

<!-- {% block extra_css %}
{% endblock %}-->
{% block extra_js %}
<script>
  let question_id = "{{ question.id }}";
  let csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'js/game/game.js' %}"></script>
{% endblock %} {% block content %}
<div class="container text-center">
  <div class="row">
    <div class="card">
      <div class="card-body">Q：{{ question }}</div>
    </div>

    <!-- 
    1. 按下按鈕後禁用按鈕
    2. 後端比對是否與答案一樣(答案為ABCD)，一樣的話跳轉到draw，不一樣的話跳轉到wrong
    3. AI詢問功能
    -->

    <div class="row g-3">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary btn-lg option-btn"
          value="A"
        >
          {{ option_A }}
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary btn-lg option-btn"
          value="B"
        >
          {{ option_B }}
        </button>
      </div>
    </div>

    <div class="row g-3">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary btn-lg option-btn"
          value="C"
        >
          {{ option_C }}
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary btn-lg option-btn"
          value="D"
        >
          {{ option_D }}
        </button>
      </div>
    </div>
  </div>
 
<!-- data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" -->
<button type="button" class="btn btn-outline-info mt-5" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">遊戲規則</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">遊戲規則</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    每天有三次答題機會，每道題目包含四個選項，每次答對可以抽一張卡，有機會獲得實體文具等，加油吧勇士！
  </div>
</div>

  {% endblock %}
</div>
