{% extends "base.html" %}
{% load static %}
{% block title %}學生面板{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<div class="container mt-5">
    <!-- 頁面標題 -->
    <h2 class="mb-4" style="font-family:微軟正黑體; font-weight: bold;">學生資訊</h2>
    <!-- 學生資訊區塊 -->
    {% if student %}
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="card shadow-sm" style="border-radius: 10px; padding: 20px;">
                <div class="row text-center" style="font-family: 微軟正黑體;">

                    <!-- 第一列 -->
                    <div class="col-md-6 mb-3">
                        <div class="info-item">
                            <h5 class="info-title" style="font-weight: bold; color: #495057;">學生名稱</h5>
                            <p class="info-value" style="font-size: 18px; color: #6c757d;">{{ student.name }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="info-item">
                            <h5 class="info-title" style="font-weight: bold; color: #495057;">學生學號</h5>
                            <p class="info-value" style="font-size: 18px; color: #6c757d;">{{ student.student_id }}</p>
                        </div>
                    </div>

                    <!-- 第二列 -->
                    <div class="col-md-4 mb-3">
                        <div class="info-item">
                            <h5 class="info-title" style="font-weight: bold; color: #495057;">出題數量</h5>
                            <p class="info-value" style="font-size: 18px; color: #6c757d;">{{ user_questions_amount }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="info-item">
                            <h5 class="info-title" style="font-weight: bold; color: #495057;">作答數量</h5>
                            <p class="info-value" style="font-size: 18px; color: #6c757d;">{{ user_answers_amount }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="info-item">
                            <h5 class="info-title" style="font-weight: bold; color: #495057;">總積分</h5>
                            <p class="info-value" style="font-size: 18px; color: #6c757d;">{{ user_score }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- 建立的題目 -->
    <div class="mt-5 question-list">
        <h2 class="section-title mb-4" style="font-family: 微軟正黑體; color: #343a40;">建立的題目</h2>
        {% if user_questions %}
            <div class="container my-4">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for question in user_questions %}
                        <div class="col">
                            <div class="card fixed-card shadow-sm border-0 uniform-bg" style="font-family: '微軟正黑體';">
                                <div class="card-body">
                                <h5 class="card-title text-center m-0">
                                    <a href="{% url 'QuestionDetail' question.id %}" class="stretched-link text-black text-decoration-none">
                                    {{ question.title }}
                                    </a>
                                </h5>
                                <p class="card-text m-0 custom-text">
                                    {{ question.description|linebreaks }}
                                </p>
                                </div>
                                <div class="card-footer bg-transparent border-0 text-end">
                                <p class="text-black m-0">出題：{{ question.creator.name }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p class="text-center" style="font-family: 微軟正黑體; color: gray;">您目前沒有任何建立的題目。</p>
        {% endif %}
    </div>

    <!-- 作答的記錄 -->
    <div class="mt-5 answer-list">
        <h2 class="section-title mb-4" style="font-family: 微軟正黑體; color: #343a40;">您的作答記錄</h2>
        {% if user_answers %}
            <div class="container my-4">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for answer in user_answers %}
                        <div class="col">
                            <div class="card fixed-card shadow-sm border-0 uniform-bg" style="font-family: '微軟正黑體';">
                                <div class="card-body">
                                <h5 class="card-title text-center m-0">
                                    <a href="{% url 'QuestionAnswer' answer.question.id %}" class="stretched-link text-black text-decoration-none">
                                    {{ answer.question.title }}
                                    </a>
                                </h5>
                                <p class="card-text m-0 custom-text">
                                    {{ answer.question.description|linebreaks }}
                                </p>
                                </div>
                                <div class="card-footer bg-transparent border-0 text-end">
                                <p class="text-black m-0">出題：{{ answer.question.creator.name }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p class="text-center" style="font-family: 微軟正黑體; color: gray;">您目前沒有任何作答記錄。</p>
        {% endif %}
    </div>

    <!-- 評分的記錄 -->
    <div class="mt-5 review-list">
        <h2 class="section-title mb-4" style="font-family: 微軟正黑體; color: #343a40;">您的評分記錄</h2>
        {% if user_reviews %}
            <div class="container my-4">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for review in user_reviews %}
                        <div class="col">
                            <div class="card fixed-card shadow-sm border-0 uniform-bg" style="font-family: '微軟正黑體';">
                                <div class="card-body">
                                <h5 class="card-title text-center m-0">
                                    <a href="{% url 'PeerAssessment' review.reviewed_question.id %}" class="stretched-link text-black text-decoration-none">
                                    {{ review.reviewed_question.title }}
                                    </a>
                                </h5>
                                <p class="card-text m-0 custom-text">
                                    {{ review.reviewed_question.description|linebreaks }}
                                </p>
                                </div>
                                <div class="card-footer bg-transparent border-0 text-end">
                                <p class="text-black m-0">出題：{{ review.reviewed_question.creator.name }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p class="text-center" style="font-family: 微軟正黑體; color: gray;">您目前沒有任何評分記錄。</p>
        {% endif %}
    </div>
</div>
<div style="height: 30px;">
</div>

<script src="{% static 'js/question_card.js' %}"></script>

{% endblock %}