.fixed-card {
    height: 210px; /* 固定卡片高度，可依需求調整 */
    display: flex;
    flex-direction: column;
}

.fixed-card .card-body {
    flex-grow: 1;  /* 讓主體自動填滿空間 */
    overflow: hidden; /* 隱藏超出部分 */
}

.uniform-bg {
    background-color: #f8f9fa; /* 背景色 */
    color: #000;
}

.custom-text {
    word-break: break-word; /* 或者使用 break-all, normal 等 */
    overflow-wrap: break-word;
  }
  